{{ form_start(form, {'action': path('app_answer_new')}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">
        {% if is_granted('ROLE_ADMIN') %}
            {{ button_label|default('Ответить') }}
        {% elseif is_granted('ROLE_USER') %}
            {{ button_label|default('Отправить на модерацию') }}
        {% endif %}
    </button>
{{ form_end(form) }}
