{% extends 'base.html.twig' %}

{% block title %} Вопросы | QA - сервис вопросов и ответов{% endblock %}

{% block body %}
    <div class="container-fluid">
        <a href="{{ path('app_question_new') }}" class="btn btn-primary mb-3 "> 
            <h3> Задать свой вопрос </h3>
        </a>
        <h2 class="mb-3">...или ответить на вопросы других: </h2>
        {% for question in questions %}
            <div class="card mb-3">
              <div class="card-body">
                <a href="{{ path('app_question_show', {'id': question.id}) }}">
                    <h5 class="card-title"> {{ question.header }} </h5> 
                </a>
                <p class="card-text"> 
                    Вопрос задан {{ question.dateCreated.format('d.m.Y H:i:s') }} 
                </p>
                <h6 class="card-subtitle mb-2 text-muted"> 
                    Ответов: {{ question.answers.count }} 
                </h6>
                {# <a href="{{ path('app_question_edit', {'id': question.id}) }}">edit</a> #}
              </div>
            </div>
        {% else %}
            <p>Не удалось загрузить вопросы</p>

        {% endfor %}
    </div>

{% endblock %}
