{% extends 'base.html.twig' %}

{% block title %} {{ question.header }} | QA - сервис вопросов и ответов{% endblock %}

{% block body %}
    <div class="d-inline-flex mb-3">
        <a href="{{ path('app_question_index') }}" class="btn btn-light">
            Назад к списку вопросов
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_question_edit', {'id': question.id}) }}" class="btn btn-secondary">
             Изменить
            </a>
        {% endif %}
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h2 class="card-title"> {{ question.header }} </h2> 
        <h6 class="card-subtitle mb-2 text-muted"> 
            #{{ question.category }} 
        </h6>
        <h5 class="card-subtitle mb-2 text-muted"> 
            от {{ question.author.name }} 
        </h5>
        <p class="card-text"> 
            {{ question.text }} 
        </p>
        {# <a href="{{ path('app_question_edit', {'id': question.id}) }}">edit</a> #}
      </div>
    </div>

    <div class="container-fluid">
        {% if is_granted('ROLE_USER') %}
            {{ render(controller(
                    'App\\Controller\\AnswerController::new',
                    {},
                    {'question_id': question.id}
            )) }}
        {% else %}
            <h5>Войдите или зарегистрируйтесь для возможности ответа на вопрос</h5>
        {% endif %}

        <h2 class="mt-3">Ответы</h2>
        {% for answer in answers %}
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"> {{ answer.author.name }} </h5> 
                <p class="card-text"> 
                    {{ answer.text }} 
                </p>
                <h6 class="card-subtitle mb-2 text-muted"> 
                    {{ answer.dateCreated.format('d.m.Y H:i:s') }}
                </h6>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('answer/_delete_form.html.twig') }}
                {% endif %}
              </div>
            </div>
        {% else %}
            <p> Никто еще не ответил на данный вопрос </p>
        {% endfor %}
    </div>
{% endblock %}
